---

---

<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden text-white"
  data-header-color="black"
>
  <div class="h-full relative z-30 flex flex-col">
    <h2 class="text-black pt-40 text-5xl font-medium">Model Y</h2>
    <p class="text-black underline">Concertar una prueba de conduccion</p>
    <footer class="flex flex-col flex-grow justify-end pb-24 px-6 py-2">
      <div class="flex justify-center gap-x-4">
        <a
          class="border-[3px] border-gray-700 bg-gray-700 text-sm rounded text-white font-medium py-2 px-6 hover:text-white hover:bg-black hover:border-black transition-colors duration-300"
          href="#">Explorar inventario</a
        >
        <a
          class="ms-5 border-[3px] border-white bg-white bg-white/3 backdrop-blur-lg text-sm rounded text-black font-medium py-2 px-6 hover:text-white hover:bg-black hover:border-black transition-colors duration-300"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10 object-cover h-full">
    <img
      src="/model-y.avif"
      alt="Model Y "
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
