---
import Logo from "./Logo.astro"
---
<header
class="py-6 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
<div class="flex flex-grow basis-0">
<Logo/>
</div>
<nav>
  <ul
    class="flex text-sm [&>li>a]:inline-block [&>li>a]:font-medium [&>li>a]:py-2 [&>li>a]:px-4"
  >
    <li><a href="#">Model s</a></li>
    <li><a href="#">Model 3</a></li>
    <li><a href="#">Model x</a></li>
    <li><a href="#">Model y</a></li>
    <li><a href="#">Powerwall</a></li>
    <li><a href="#">Carga </a></li>
  </ul>
</nav>
<nav class="flex flex-grow justify-end basis-0">
  <ul
    class="flex text-sm [&>li>a]:inline-block [&>li>a]:font-medium [&>li>a]:py-2 [&>li>a]:px-4"
  >
    <li><a href="#">Soporte</a></li>
    <li><a href="#">Tienda</a></li>
    <li><a href="#">Cuenta</a></li>
    <li><a href="#">Menu</a></li>
  </ul>
</nav>
</header>